body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #93c5fd;
    padding-bottom: 10px;
    font-size: 30px;
}

.tabs {
    display: flex;
    font-size: 10px;
    gap: 30px;
}

.tabs > button {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
}

.menu-content {
    background-color: #fef9c3;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    background-color: #fef9c3;
    padding: 0px 100px;
    font-size: 25px;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 800px);
    justify-content: center;
    gap: 20px;
    padding: 20px 50px;
    
}

.menu-item {
    border: solid black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.menu-item > h2 {
    grid-column: 2/2;
    grid-row: 1/1;
}

.menu-item > p {
    grid-column: 2/2;
    grid-row: 2/2;
}

.menu-item > img { 
    height: 100%;
    width: 100%;
    grid-column: 1/1;
    grid-row: 1/3;
}